@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Salsa&display=swap');

:root{
    --ColorLinkList:black;
    --ColorPrincipal:rgb(4, 4, 93);
    --ColorBack:rgb(0, 0, 54);
    --ColorSecondary:rgb(255, 217, 0);
}

body{
    width: 99vw;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--ColorPrincipal);
    color: var(--ColorSecondary);
    font-family: 'Salsa', cursive;

}

#logo{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--ColorBack);
    align-items: center;
}

header ul{
    display: flex;
    width: 40vw;
    justify-content: space-around;
    list-style: none;
}


a{
    text-decoration: none;
    color: var(--ColorSecondary);
    font-family: 'Lemon', serif;

}


/*

CARROUSSELL

*/
#Carrousel div{
    display: flex;
    align-items: center;
}
#Carrousel div span{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
#logsOne{
  
    height: 50vh;
    width: 70%;
    margin: auto;
}
#logsOne p{
    color: white;
    background-color: rgba(0, 0, 0,0.6);
    margin: 0;
    padding: 0 10%;
    width: 80%;
}
/*
MAIN
*/
main{
    width: 80%;
    margin: auto;
}

section{
    margin: 10% 0;
        
}
#Teams div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center; 
}

#Teams article{
    width: 33%;
}
article  img{
    width: 40%;
    border-radius: 50%;
}

h2{
    text-align: center;
    font-family: 'Lemon', serif;
    margin-bottom: 5%;
}

#Semaines article{
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    justify-content: space-around;
    align-items: center;
}

#Semaines div:nth-child(1){
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Semaines div:nth-child(1) img{
    width: 40%;
    border-radius: 50%;
}

#Semaines div:nth-child(1) a{
    background-color: var(--ColorSecondary);
    color: var(--ColorPrincipal);
    padding: 2%;
    border-radius: 10px;
    margin: 10%;
}

#Semaines div:nth-child(2){
    width: 50%;
}

#School article{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#School div:nth-child(1){
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#School div:nth-child(1) img{
    width: 40%;
    border-radius: 50%;
}

#School div:nth-child(1) a{
    background-color: var(--ColorSecondary);
    color: var(--ColorPrincipal);
    padding: 2%;
    border-radius: 10px;
    margin: 10%;
}

#School div:nth-child(2){
    width: 50%;
}

/*
FOOTER 
*/

footer{
    text-align: center;
    background-color: var(--ColorBack);
    display: flex;
    justify-content: center;
    align-items: center;

}